<!-- views/partials/header.ejs -->

<html>
<head>
  <title>Tiny App</title>
  <link rel="stylesheet" href="/styles.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
  <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="far fa-user"></span>LOGIN</a>
        <a href="/register" class="btn btn-default"><span class="far fa-user"></span>SIGNUP</a>
</body>
</html>
































