<!DOCTYPE html>
<html lang="en">
<head>
 <% include ./partials/_header.ejs %>
</head>
<body style="font-size:20px; padding: 50px;">
  <% if (!user.id) { %>
  <a href="/login/">You must login first to shorten an URL</a>

 <% } else { %>

  <form action="/urls" method="POST" style="margin:150px;">
    <label for="longUrl">Enter a URL:</label>
    <input id="longUrl" type="text" name="longUrl" placeholder="http://" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
  <p>Go back <a href="/urls">Home</a>.</p>
 <% } %>
</body>
</html>

