<!-- views/login.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>User Login</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <style>
    body {
      padding-top: 35px;
    }
  </style>
  </head>

  <body>
  <div class="container">
  <div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fas fa-sign-in-alt"></span>Login</h1>
