<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/_header.ejs %>
<link rel="stylesheet" href="/css/styles.css" type="text/css">
<title>TinyApp HomePage</title>
</head>
<body>
  <% if(!user) { %>
    <a href="login"> Please log in to see your URLs</a>
 <% } else { %>
    <table class = "table">
  <thead>
   <tr>
     <th>Short URL</th>
     <th>Long URL</th>
     <th>Actions</th>
   </tr>
 </thead>
 <tbody>
   <% for ( let shortUrl in urls ) { %>
   <tr>
     <td><%= shortUrl %></td>
     <td><%= urls[shortUrl].longUrl %></td>
     <td><form method="POST" action="/urls/<%= shortUrl %>/delete">
        <input type="submit" value="Delete">
     </form>
     <form method="GET" action="/urls/<%= shortUrl %>">
        <input type="submit" value="Update">
     </form>
     </td>
   </tr>
 <% } %>
 </tbody>
</table>
<p>Want to add a new URL? Click <a href="urls/new">here</a>.</p/>
 <% } %>
</body>
</html>








