<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/_header.ejs %>
</head>
<body>
  <table>
  <thead>
   <tr>
     <th>Short URL</th>
     <th>Long URL</th>
   </tr>
 </thead>
 <tbody>
   <% for ( let shortUrl in urls ) { %>
   <tr>
     <td><%= shortUrl %></td>
     <td><%= urls[shortUrl] %></td>
   </tr>
 <% } %>
 </tbody>
</table>
<a href="#">Shorten your URL!</a>
</body>
</html>
</body>
</html>



