<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/_header.ejs %>
</head>
<body>
    <ul>
      <li><%= shortUrl %></li>
      <li><%= longUrl %></li>
      <a href="#">Shorten your URL!</a>

    </ul>
</body>
</html>