<!-- views/login.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>User Login</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <style>
    body {
      padding-top: 35px;
    }
  </style>
  </head>

  <body>
  <div class="container">
  <div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fas fa-sign-in-alt"></span>Login</h1>

    <!-- LOGIN FORM -->
    <% if (!userid){ %>
    <form action="/login" method="POST">
      <div class="form-group">
        <label>Enter your username: </label>
        <input type="text" name="userid" class="form-control" style="width: 300px">
      </div>
      <div class="form-group">
        <label>Enter your password: </label>
        <input type="password" name="password" class="form-control">
      </div>

      <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>
    <% } else { %>
    <h1>Welcome back, <%=userid %></h1>
    <!-- <button type="submit" formaction="/logout" formmethod="POST">Logout</button> -->

    <form action="/logout" method="POST" style="margin:150px">
    <input type="submit" value="logout">
    </form>
    <%}%>


    <hr>

    <p>Not A User? <a href="/register">Signup Here</a></p>
    <p>Or go <a href="/urls">Home</a>.</p>
  </div>
  </div>
  </body>
  </html>





























