<!-- views/login.ejs -->

<!DOCTYPE html>
<html>
<head>
  <% include ./partials/_header.ejs %>
  <title>User Login</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"> <!--pure CSS -->
  <style>
    body {
      padding-top: 35px;
    }
  </style>
  </head>

  <body>
  <div class="container">
  <div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fas fa-sign-in-alt"></span>Login</h1>

    <!-- LOGIN FORM -->
    <form action="/login" method="POST" class="pure-form">
    <fieldset>
      <label for="sign-in">Sign in</label>
            <input type="text" class="pure-input-rounded" name="email" placeholder="Email" />
            <input class="pure-input-rounded" type="password" name="password" placeholder ="Password" />
            <button type="submit">SIGN IN</button>
    </fieldset>
  </form>
</div>

    <p>Not A User? <a href="/register">Signup Here</a></p>
    <p>Or go <a href="/urls">Home</a>.</p>
  </div>
  </div>
  </body>
  </html>


























