<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

    <ul>
      <li>Short Version: <%= shortUrl %></li>
      <li>Long Version: <%= longUrl %></li>

      <li><form method="POST" action="/urls/<%=shortUrl%>">
          <input type="submit" value="Update">
          <input type="text" name="longUrl" placeholder="<%=longUrl %>" style="width: 300px">
          </form></li>
      <p>Go back<a href="/urls"> Home</a>.</p>

    </ul>
</body>
</html>


