<!-- views/login.ejs -->

<!DOCTYPE html>
<html>
<head>

  <title>User Login</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"> <!--pure CSS -->
  <style>
    body {
      padding-top: 35px;
    }
  </style>
  </head>

  <body>
  <div class="container">
  <div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fas fa-sign-in-alt"></span>LOGIN</h1>
    <!-- LOGIN FORM -->
    <div class="loginbox">
      <% if (messages.error) {%>
      <ul class="error-messages">
        <li>
          <%=messages.error%>
        </li>
      </ul>
      <% } %>
    <form action="/login" method="POST" class="pure-form">
    <fieldset>
      <label for="sign-in">LOGIN</label>
            <input type="text" class="pure-input-rounded" name="email" placeholder="Email" />
            <input class="pure-input-rounded" type="password" name="password" placeholder ="Password" />
            <button type="submit">LOGIN</button>
    </fieldset>
  </form>
</div>

<h1><span class="fas fa-sign-in-alt"></span>SIGNUP</h1>
<!--REGISTRATION FORM -->
<div class="registerbox">
  <form action="/register" method="POST" class="pure-form">
    <fieldset>
      <div class="form-group">
        <label>Enter Email Here: </label>
      <input type="email" class="pure-input-rounded" name="email" placeholder="Email"/>
    </div>
    <div class="form-group">
      <label>Enter Password Here: </label>
      <input type="password" class="pure-input-rounded" name="password" placeholder="Password" />
    </div>
      <button type="submit" class="btn btn-warning btn-lg">SIGNUP</button>
    </fieldset>
  </form>
</div>

  </div>
  </div>
  </body>
  </html>

